* {
  padding: 0;
  margin: 0;
}

section {
  width: 100vw;
  height: 100vh;
}

.wrapper {
  overflow: hidden;
}

.main {
  background-image: url('/assets/images/main-1.png');
}

.back {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.cards-wrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.card {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.card:nth-child(1) {
  background-image: url('/assets/images/main-2.png');
}

.card:nth-child(2) {
  background-image: url('/assets/images/mission_02.png');
}

.card:nth-child(3) {
  background-image: url('/assets/images/mission_03.png');
}

.card:nth-child(4) {
  background-image: url('/assets/images/mission_04.png');
}

.card:nth-child(5) {
  background-image: url('/assets/images/mission_05.png');
}

.card:nth-child(6) {
  background-image: url('/assets/images/mission_06.png');
}

.card:nth-child(1) .arrow {
  position: absolute;
  max-width: 78%;
  bottom: 4%;
  left: 14%;
  transform: none; 
}

.card:nth-child(1) .arrow.active {
  top: 50%;
  left: 50%;
  bottom: auto;
  transform: translate(-50%, -50%);
  width: auto;
  height: auto;
}

.together {
  background-image: url('/assets/images/main-3.png');
}