<script src="./js/header.js?version=1.02"></script>

<div id="skip">
        <a href="#ddg_my_main">본문 바로가기</a>
        <a href="#ddg_my_gnb">주메뉴 바로가기</a>
</div>
<button class="top_btn"><i class="fa-solid fa-arrow-up"></i><span class="sound-only">위로가기</span></button>
<header id="ddg_my_header" class="">
    <div class="header_inner max_inner">
        <h1 class="ddg_my_logo white_logo">
            <a href="./index.html">
                <span class="blind">DDG MY</span>
                <img src="./images/ddg_logo_wh.png" alt="DDG 화이트 로고">
            </a>
        </h1>
        <h1 class="ddg_my_logo purple_logo hidden">
            <a href="./index.html">
                <span class="blind">DDG MY</span>
                <img src="./images/ddg_logo_pp.png" alt="DDG 퍼플 로고">
            </a>
        </h1>
        <div class="ddg_my_util">
            <h2 class="blind">주 메뉴</h2>
            <nav id="ddg_my_gnb">
                <ol class="">
                    <li class="depth1">
                        <a class="upper" href="./index.html#about">about</a>
                    </li>
                    <li class="depth1">
                        <a class="upper" href="./index.html#core">core</a>
                    </li>
                    <li class="depth1">
                        <a class="upper" href="./index.html#contact">contact</a>
                    </li>
                    <li class="depth1">
                        <a class="upper" href="./career.html">career</a>
                    </li>
                </ol>
            </nav>
        </div>
        <button class="material-symbols-outlined m_gnb_btn">menu</button>
    </div>
    <div class="header_mobile_bg"></div>
</header>