* {
  box-sizing: border-box;
  user-select: none;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: black;
  text-transform: uppercase;
}

section {
  width: 100vw;
  height: 100vh;
}

section .outer,
section .inner {
  width: 100%;
  height: 100%;
  overflow-y: hidden;
}

section .bg {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

section:nth-child(1) .bg {
  background-image: url("/assets/images/main-1.png");
}

section:nth-child(2) .bg {
  background-image: url("/assets/images/main-2.png");
}

section:nth-child(3) .bg {
  background-image: url("/assets/images/main-3.png");
}

section:nth-child(4) .bg {
  background-image: url("/assets/images/main-4.png");
}

section:nth-child(5) .bg {
  background-image: url("/assets/images/main-5.png");
}

section:nth-child(6) .bg {
  background-image: url("/assets/images/main-6.png");
}

section:nth-child(7) .bg {
  background-image: url("/assets/images/main-7.png");
}

.container{
  position: relative;
  display:flex;
  flex-direction:row;
  width: 100vw;
  height: 100vh;
  overflow:hidden;
}

.panel{
  width: 100vw;
  height:100%;
  display: flex;
}

.inner{
 width:100vw;
 display: flex;
 justify-content: center;
}


.orange{
  background-color:#FFB433;
}
.blue{
  background-color:#8F8FB5;
}
.green{
  background-color:green;
}
.red{
   background-color:#FF4545;
}